@import 'variables.scss';
.main{
    padding: 8.16666667vw 3.95833333vw 4.16666667vw;
    font-size: 1em;
    width: 100vw;
    height: 100vh;
    background: $mainColor;
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
    color: $fontColor;
    .myBox{
        min-width: 300px;
        max-width: 1768px;
        height: fit-content;
        margin: 0 auto;
    }
}