<article>
  <section>
    <router-outlet (activate) = 'onActivate($event)'
    (deactivate)='onDeactivate($event)'
    ></router-outlet>
  </section>
  <aside>
      <mat-list>
        <ng-container *ngFor = "let category of this.categories">
          <mat-list-item  (click) = "this.select(category)" 
          [ngClass] = "{'selected' : this.selected == category}">
            <mat-icon mat-list-icon>note</mat-icon>
            <p>{{ category }}</p>
          </mat-list-item>
        </ng-container>
      </mat-list>
      <h6>{{ 'Total: ' + this.categories.length}}</h6>
  </aside>
</article>
